# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# CLion
/cmake-build-debug
.idea

# Build artifacts
/build/
/bin/
/obj/

# ---- Visual Studio Code ----
.vscode/
*.code-workspace

# ---- Shader Binaries ----
*.spv

# ---- Visual Studio ----
*.sln
*.vcxproj
*.vcxproj.*
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.sdf
*.suo
*.pdb
*.idb

# ---- GLFW (submodule build artifacts) ----
external/glfw/build/
external/glfw/bin/
external/glfw/lib/
external/glfw/CMakeFiles/
external/glfw/CMakeCache.txt